<div class="container">
  <section class="m-3">
    <%=
      form_for :bugs, "/bugs/search", class: "form-horizontal" do
        div class: "input-group" do
          text_field :query, class: "form-control", placeholder: "Input search query here"
          span class: "input-group-btn" do
            submit "Search", class: "btn btn-primary"
          end
        end
      end
    %>
  </section>
  <section class="m-3">
    <div class="card">
      <div class="card-header">
        <h1 class="h3">FAQ</h1>
      </div>
      <div class="card-body">
        <dl>
          <dt>Q. What is Fabre?</dt>
          <dd>A. Yet another frontend of bugs.debian.org. You can search bugs of debian with full text search functionality. Fabre is under development in very early stage and running with limited resources.</dd>
        </ul>
        <dl>
          <dt>Q. Can I search all bugs of bugs.debian.org?</dt>
          <dd>A. No. There is no guarantee that all of bugs are available because of limited server resources.</dd>
        </ul>
      </div>
    </div>
  </section>
</div>
