<div class="card">
  <h5 class="card-header">Sign out from fabre.xdump.org</h5>
  <div class="card-body">
    For improving user experience, the following user related data is kept on the server.
    <ul>
      <li>User name on salsa.debian.org</li>
      <li>Avatar url on salsa.debian.org</li>
      <li>Session ID</li>
    </ul>
  </div>
  <div class="card-footer">
    Automatically, this page is redirected to home after 5 seconds.
  </div>
</div>
