<div class="card">
  <h5 class="card-header">Sign in with salsa.debian.org</h5>
  <div class="card-body">
    On this website, Cookie is used to distinguish logged in user account.
    By using cookie, the following web site features are enabled.
    <ul>
      <li>Provide Affects Me button and Upvote button for logged in user</li>
      <li>Save search condition for logged in user</li>
    </ul>
    It is an additional feature, so if you do not want above features, there is no need to login with <a href="https://salsa.debian.org">salsa.debian.org</a> account at all.
  </div>
  <div class="card-footer">
<%=
  form_for :login, salsa_request_uri, method: "GET" do
    hidden_field :client_id, {value: salsa_client_id, name: "client_id"}
    hidden_field :redirect_uri, {value: salsa_redirect_uri, name: "redirect_uri"}
    hidden_field :response_type, {value: salsa_response_type, name: "response_type"}
    hidden_field :state, {value: salsa_state, name: "state"}
    hidden_field :scope, {value: salsa_scope, name: "scope"}
    span class: "input-group-btn" do
      submit "Login with salsa.debian.org account", class: "btn btn-primary"
    end
  end
%>
  </div>
</div>
