<div class="container">
  <section class="m-3">

    <div class="card">
      <div class="card-header">Fabre sign in with salsa.debian.org</div>
      <div class="card-body">
        Logged in as <img href=<%= user.avatar_url %>/><a href=<%= user.web_url %>><%= user.username %></a>
      </div>
      <table class="table mb-0">
        <tr>
          <th>Salsa user name</th>
          <td><%= user.name %></td>
        </tr>
        <tr>
          <th>Salsa E-mail address</th>
          <td><%= user.email %></td>
        </tr>
      </table>
    </div>
  </section>
</div>
