<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="refresh" content="3; URL=/">
    <title>Fabre: Yet another frontend of bugs.debian.org</title>
    <%= favicon %>
    <%= stylesheet "bootstrap.min" %>
  </head>
  <body class="d-flex flex-column" style="min-height: 100vh">
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
          <img src="/assets/fabre-logo48x48.png"/><h1 class="h4">Fabre - Yet another frontend of bugs.debian.org</h1>
        </div>
      </nav>
    </header>
    <main class="mb-auto">
      <%= yield %>
    </main>
    <footer>
      <div class="container">
        <div class="float-right">
          Powered by
          <a href="https://groonga.org"><img src="/assets/groonga-logo.svg" width="88px" height="31px" alt="Powered by The Groonga Project logo. This banner image is licensed by CC 3.0"></a>
          and
          <a href="http://ranguba.org/#about-rroonga"><img src="/assets/rroonga-logo.svg" width="88px" height="31px" alt="Powered by The Ranguba Project logo. This banner image is licensed by CC 3.0"></a>
        </div>
      </div>
    </footer>
    <%= javascript "bootstrap.min" %>
  </body>
</html>
