<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Fabre: Yet another frontend of bugs.debian.org</title>
    <%= favicon %>
    <%= stylesheet "bootstrap.min" %>
    <%= stylesheet "https://cdnjs.cloudflare.com/ajax/libs/typicons/2.0.9/typicons.min.css" %>
    <%= stylesheet "fabre" %>
  </head>
  <body class="d-flex flex-column" style="min-height: 100vh">
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
          <a href="/">
            <img src="/assets/fabre-logo48x48.png"/>
          </a>
          <h1 class="h4">Fabre - Yet another frontend of bugs.debian.org</h1>
          <% if current_user.nil? then %>
            <a href="/signin">
              <button class="btn btn-outline-success"><span class="typcn typcn-user-outline"></span>Sign In</button>
            </a>
          <% else %>
            <a href="/signout">
              <button class="btn btn-outline-success"><span class="typcn typcn-power-outline"></span>Sign Out</button>
            </a>
            <!--
            <div class="dropdown">
<button type="button" class="btn btn-secondary dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Profile
              </button>
              <a role="button" class="btn btn-secondary dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Profile
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Settings</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/session/signout">Sign Out</a>
              </div>
            </div>
            //-->
          <% end %>
        </div>
      </nav>
    </header>
    <main class="mb-auto">
      <%= yield %>
    </main>
    <footer>
      <div class="container">
        <div class="float-right">
          Powered by
          <a href="https://groonga.org"><img src="/assets/groonga-logo.svg" width="88px" height="31px" alt="Powered by The Groonga Project logo. This banner image is licensed by CC 3.0"></a>
          and
          <a href="http://ranguba.org/#about-rroonga"><img src="/assets/rroonga-logo.svg" width="88px" height="31px" alt="Powered by The Ranguba Project logo. This banner image is licensed by CC 3.0"></a>
        </div>
      </div>
    </footer>
    <%= javascript "bootstrap.min" %>
  </body>
</html>
