@font-face {
  font-family: 'typicons';
  src: url("https://cdnjs.cloudflare.com/ajax/libs/typicons/2.0.9/typicons.eot");
  src: url("https://cdnjs.cloudflare.com/ajax/libs/typicons/2.0.9/typicons.eot?#iefix") format('embedded-opentype'),
       url("https://cdnjs.cloudflare.com/ajax/libs/typicons/2.0.9/typicons.woff") format('woff'),
       url("https://cdnjs.cloudflare.com/ajax/libs/typicons/2.0.9/typicons.ttf") format('truetype'),
       url("https://cdnjs.cloudflare.com/ajax/libs/typicons/2.0.9/typicons.svg#typicons") format('svg');
  font-weight: normal;
  font-style: normal;
}
